extends ../partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Data Table'
  - var isNestedFile = true
  - var parentMenu = 'Components'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'Components', 'link': 'accordion.html'}, {'title': 'Data Table'}]

//- Page Content
block content
  .container-fluid.padding-bottom-3x
    .row
      .col-lg-9.col-md-8.order-md-2

        //- Basic DataTable
        h6.text-muted.text-normal.text-uppercase Basic DataTable
        hr.margin-bottom-1x
        .table-responsive
          table#datatable-basic.table.table-striped.table-bordered
            thead
              tr
                th ID
                th First Name
                th Last Name
                th Position
                th Phone
            tbody
              tr
                td 1
                td John
                td Doe
                td CEO, Founder
                td +3 555 68 70
              tr
                td 2
                td Anna
                td Cabana
                td Designer
                td +3 434 65 93
              tr
                td 3
                td Kale
                td Thornton
                td Developer
                td +3 285 42 88
              tr
                td 4
                td Jane
                td Birkins
                td Support
                td +3 774 28 50

        //- Server Side DataTable
        h6.text-muted.text-normal.text-uppercase.padding-top-2x Server Side Rendering
        hr.margin-bottom-1x
        .table-responsive
          table#datatable-server.table.table-striped.table-hover
            thead
              tr
                th ID
                th Name
                th Email
                th Created
            tbody
              tr
                td Loading...
                td
                td
                td

        //- Bootstrap 4 Styled DataTable
        h6.text-muted.text-normal.text-uppercase.padding-top-2x Bootstrap 4 Theme
        hr.margin-bottom-1x
        .table-responsive
          table#datatable-bs4.table.table-striped.table-sm
            thead.thead-dark
              tr
                th ID
                th Product
                th Category
                th Price
            tbody
              tr
                td 1
                td Keyboard
                td Electronics
                td $120
              tr
                td 2
                td Shoes
                td Fashion
                td $80
              tr
                td 3
                td Backpack
                td Travel
                td $60

        //- Export Buttons DataTable
        h6.text-muted.text-normal.text-uppercase.padding-top-2x Export Options
        hr.margin-bottom-1x
        .table-responsive
          table#datatable-export.table.table-bordered
            thead
              tr
                th ID
                th Country
                th City
                th Population
            tbody
              tr
                td 1
                td USA
                td New York
                td 8,800,000
              tr
                td 2
                td Japan
                td Tokyo
                td 9,600,000
              tr
                td 3
                td UK
                td London
                td 9,500,000

      .col-lg-3.col-md-4.order-md-1
        include ../partials/side-menu